/** CSS STYLE **/
@font-face {
  font-family: OpenSans;
  src: url(/Hexlet_Project1/Fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(/Hexlet_Project1/Fonts/Neucha-Regular.ttf);
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --font-size: 16px;
  --line-height: 1.6em;
  --text-color: #2a2626;
  --lineheight-headline: 1.2em;
  --h1: 72px;
  --h2: 60px;
  --h3: 34px;
}

body {
  margin: 0;
}

.w-1110 {
  max-width: 1110px;
}

/** Секция-1**/

.header-section {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header-section::before {
  position: absolute;
  content: "";
  background-image: url(/Hexlet_Project1/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brown);
  opacity: 10%;
  width: 100%;
  height: 100%;
}

.headline {
  position: relative;
  width: 1110px;
  padding-top: 100px;
  padding-left: 165px;
}

h1 {
  margin: 0;
  font-family: Neucha;
  font-weight: 400;
  font-size: var(--h1);
  line-height: var(--lineheight-headline);
}

.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.main-img {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.columns {
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
  padding: 185px 165px 0;
}

.column-1 {
  width: 540px;
}

.column-2 {
  width: 540px;
}

.button-1 {
  position: relative;
  display: block;
  width: max-content;
  padding: 12px 24px;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: OpenSans;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
  border: none;
}

.button-1 a {
  color: var(--white);
  text-decoration: none;
}

.button-1:hover {
  display: block;
  width: max-content;
  padding: 12px 24px;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: OpenSans;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: var(--line-height);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background-color: #ea7600;
  border: none;
}

p {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: 26px;
}

/** Секция 2**/

.video-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.video-headline {
  width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-video-headline {
  text-align: center;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  margin-top: 100px;
}

.black {
  color: var(--dark);
}

.text-video {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 30px;
}

.video {
  position: relative;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  z-index: 2;
}

#navigation::before {
  position: absolute;
  content: "";
  top: -100px;
  width: 100vw;
  height: 100px;
  background-color: var(--main-dark);
  z-index: 1;
}

/**Секция-3**/

#navigation {
  position: relative;
  padding-top: 100px;
  background-color: var(--main-dark);
}

.menu-1,
.menu-2 {
  display: flex;
  justify-content: center;
}

.menu-1 {
  margin-bottom: 20px;
}

.menu-2 {
  padding-bottom: 100px;
}

.numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}

.card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--main);
}

.card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

.card-0 {
  padding: 0 10px 0 0;
  background-color: var(--main-dark);
}

.introduction {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  padding: 24px;
  background-color: var(--light);
}

.card-1,
.card-4 {
  margin-left: 30px;
  margin-right: 30px;
}

.w-302 {
  width: 302px;
}

.card-2 > .card-text,
.card-4 > .card-text {
  margin-bottom: 0;
}

.card-1:hover {
  padding: 24px;
  background-color: var(--main);
}

.card-1:hover .numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: var(--white);
}

.card-1:hover .w-302 {
  width: 302px;
}

.card-1:hover .card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--white);
}

.card-1:hover .card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.card-2:hover {
  padding: 24px;
  background-color: var(--main);
}

.card-2:hover .numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: var(--white);
}

.card-2:hover .w-302 {
  width: 302px;
}

.card-2:hover .card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--white);
}

.card-2:hover .card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.card-3:hover {
  padding: 24px;
  background-color: var(--main);
}

.card-3:hover .numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: var(--white);
}

.card-3:hover .w-302 {
  width: 302px;
}

.card-3:hover .card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--white);
}

.card-3:hover .card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.card-4:hover {
  padding: 24px;
  background-color: var(--main);
}

.card-4:hover .numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: var(--white);
}

.card-4:hover .w-302 {
  width: 302px;
}

.card-4:hover .card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--white);
}

.card-4:hover .card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.card-5:hover {
  padding: 24px;
  background-color: var(--main);
}

.card-5:hover .numbers {
  margin-bottom: 40px;
  margin-top: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
  color: var(--white);
}

.card-5:hover .w-302 {
  width: 302px;
}

.card-5:hover .card-headlines {
  margin: 0;
  font-family: Neucha;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 120%;
  color: var(--white);
}

.card-5:hover .card-text {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
}

.menu-1 > a,
.menu-2 > a {
  display: contents;
  text-decoration: none;
}
